.ruoska-overlay {
    position: absolute;
    z-index: 1000;
    background-color: black;
    opacity: 0.25;
    border: 1px dashed #ffdead;
    cursor: default;
}

.ruoska-wrapper {
    position: relative;
    top: 0;
    left: 0;
}

.ruoska-img {
    user-select: none;
    user-drag: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.ruoska-resize-nw {
    cursor: nwse-resize;
}

.ruoska-resize-ne {
    cursor: nesw-resize;
}

.ruoska-drag {
    cursor: move;
}