#topic {
    float:left;
    padding-left: 2em;
}

#links {
    float:right;
    border-bottom: 0px;
}

#footer-text {
    float:right;
}

#base-text > p {
    width: 80%;
}

#base-text {
    padding-left: 2em;
}

body {
    padding-bottom: 30px;
}