.navbar {
    background-color: rgba(0, 0, 0, 0.4);
    padding-bottom: .25em;
}

#topic {
    float: left;
    padding-left: 2em;
    padding-top: 1em;
}

#topic > a, h1 {
    color: #FFDEAD;
}

section h1 {
    font-size: 30px;
}

section h2 {
    font-size: 26px;
}

#links {
    float: right;
    border-bottom: 0;
}

#footer-text {
    float: right;
}

body {
    padding-bottom: 30px;
    background: url('/static/img/bg.png') top left repeat;
}

#login-form {
    max-width: 300px;
    margin: 0 auto;
}

#base {
    margin: 0 auto;
    max-width: 80%;
}

#buttons {
    padding-bottom: 1em;
}

.img-container {
    width: 250px;
    height: 250px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: relative;
    left: 0;
    top: 0;
}

.img-container > img {
    margin: 0 auto;
    width: 100%;
}

.img-remove-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 200, 200, .75);
    display: none;
}

.img-remove-overlay a {
    margin-top: 45%;
}

#id_username, #id_password, #id_password1, #id_password2, #album_name {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.layout-fourpage .photo-container, .layout-twopage .photo-container {
    width: 250px;
    max-height: 250px;
    float: left;
    margin-left: 1em;
    margin-top: 5em;
}

.layout-fourpage .photo-container:nth-child(-n+2) {
    margin-top: 2em;
}

.layout-twopage .photo-container {
    margin-top: 2em;
}

.layout-fourpage .img-container, .layout-twopage .img-container {
    background-repeat: no-repeat;
    margin: auto 0;
}

.layout-fourpage .photo-container:nth-child(3) {
    clear: left;
}

.missing {
    background-color: #bfb3a1;
    box-shadow: black 3px 3px 1px;
}

.missing a {
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 47%;
    color: black;
    text-decoration: underline;
    text-align: center;
    vertical-align: middle;
}

.missing a:hover {
    color: #ffdead;
}

#spinner {
    display: none;
}

#album_rename_row, #page_edit_row {
    border-radius: .25em;
    background-color: #424242;
    margin-left: .01em;
    margin-bottom: 1em;
    color: white;
}

#share_bar {
    margin-left: .01em;
    background-color: #282828;
    border-radius: .25em;
}

#share_bar strong, #share_bar a {
    line-height: 2;
}

#flickr_output, #crop_container {
    display: block;
    clear: both;
    border: 1px solid #ffdead;
    padding: .5em;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 8px;
}

#flickr_output i {
    height: 100%;
    text-align: center;
    font-size: 2em;
}

#flickr_output .loading {
    width: 160px;
    height: 120px;
    background: transparent url('/static/img/ajax-loader.gif') center center no-repeat;
}

#flickr_output div {
    display: block;
    float: left;
    margin-left: .5em;
    margin-top: .5em;
}

#flickr_output div.arrow {
    display: table-cell;
    padding-top: 45px;
    float: left;
    vertical-align: middle;
    text-align: center;
}

#flickr_output div.arrow:hover {
    color: white;
    text-shadow: #ffdead 0 0 1em;
}

#album-form .btn {
    clear: both;
    margin-top: 1em;
}

#album-form label {
    display: block;
    clear: left;
}

.cleaner {
    display: block;
    clear: both;
}

.error {
    margin: .5em 0;
    padding-left: .25em;
    background-color: #e33;
    color: white;
    line-height: 2;
    font-weight: bold;
    border-radius: .25em;
}