{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <div id="base">
    {% if error %}
        <div class="error">
            {{ error }}
        </div>
    {% elif success %}
        <div class="success">
            {{ success }}
        </div>
    {% endif %}

{% if not user.is_authenticated %}
        <div id="spinner">
            <img src="{% static 'img/ajax-loader.gif' %}"> Loading...
        </div>

        <div id="content-placeholder">
            <h1>Welcome to Kaleeri</h1>
            <p>
                Kaleeri is a photo gallery that is meant to be simple to use. To create an album, please log in
                using the links on the top right corner of the page.
            </p>

            <h2>Features</h2>
            <p>
                Kaleeri currently supports albums and subalbums, captioned photos, automatically fetching photos
                from Flickr, cropping photos in-place (with partially limited support due to technical constraints),
                Facebook login and sweet Unicode emojis!
            </p>
       </div>

{% else %}

        <div id="albums" class="logged-in">
            <div id="spinner"><img src="{% static 'img/ajax-loader.gif' %}"> Loading...</div>
            <div id="content-placeholder"></div>
        </div>

        <script>
            Kaleeri = Kaleeri || {};
            Kaleeri.currentUser = "{{ user.username|escapejs }}";
        </script>
{% endif %}

    </div>
{% endblock content %}