{% load staticfiles %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Kaleeri</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    </head>

    <body>
        <header>
            <h1>Kaleeri &ndash; Enslave your images!</h1>

            <a href="">Log in</a> &bull; <a href="">Register</a>
        </header>

        <section>{% block content %}{% endblock %}</section>

        <footer>
            Kaleeri &copy; Taistelu-Jaska Productions ltd.
        </footer>

        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="{% static 'js/bootstrap.js' %}"></script>
    </body>
</html>