{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
{% if not user.is_authenticated %}
    <div id="base">
        <div id="spinner">
            <img src="{% static 'img/ajax-loader.gif' %}"> Loading...
        </div>
        <div id="content-placeholder">
            <h1>Welcome to Kaleeri</h1>
            <p>
                Kaleeri is a photo gallery that is meant to be simple to use. To create an album, please log in
                using the links on the top right corner of the page.
            </p>

            <h2>Features</h2>
            <p>
                Kaleeri currently supports albums and subalbums, captioned photos, automatically fetching photos
                from Flickr, cropping photos in-place (with partially limited support due to technical constraints),
                Facebook login and sweet Unicode emojis!
            </p>
       </div>
    </div>

{% else %}

    {# Album view #}
    <div id="base">
        <div id="albums" class="logged-in">
            <div id="spinner"><img src="{% static 'img/ajax-loader.gif' %}"> Loading...</div>
            <div id="content-placeholder"></div>
        </div>
    </div>
    <script>
        Kaleeri = Kaleeri || {};
        Kaleeri.currentUser = "{{ user.username|escapejs }}";
    </script>

{% endif %}

{% endblock content %}